bulld/*
build/**
__pycache__
__pycache__/*
__pycache__/**
*/__pycache__
**/__pycache__
dist
dist/*
dist/**
build
integrations_config
integrations_config/*
integrations_config/**
.ipynb_checkpoints
.ipynb_checkpoints/*
.ipynb_checkpoints/**
*/.ipynb_checkpoints
**/.ipynb_checkpoints
